body{
    margin: 0;
    padding:0;
}

header{
    border: 1px solid #97bac5;
    height: 10vh;
    background-color: #97bac5;
}

.headerDiv span{
    color: #ffffff;
    font-size: 20px;
    font-weight: 700;
}

.headerDiv span:hover{
    cursor: pointer;
}

.headerImageDiv{
    height: 6vh;
    width:4vw;
}

.headerImageDiv img{
    height: 100%;
    width:100%;
}

.headerCartName a{
    text-decoration: none;
    color: #ffffff;
}

.mainContentDiv{
    height:90vh;
}

.loginDiv{
    height: 60vh;
    width:60vh;
    border: 2px solid #aeced8;
    background: #97bac5;
    margin: auto;
}

.loginDiv button{
    width:10vw;
    border: none;
    color: #67c5e2;
    font-weight: 700;
    background-color: #ffffff;
}

.loginDiv input{
    border: none;
}

.loginDiv input:focus{
    outline: none;
}

.loginDivHeading{
    width:100%;
    border:2px solid;
    color: #ffffff;
    font-size: large;
    font-weight: 700;
    cursor: pointer;
}


.logoutBtnClass button{
    background: none;
    border:none;
    color: #ffffff;
    font-weight: 700;
}

.categoryDiv{
    height: 70vh;
    width:60vh;
    border: 2px solid #aeced8;
    background: #97bac5;
    margin: auto;
}

.categoryHeading{
    border-bottom: 3px solid #ffffff;
}

.categoryHeading a{
    text-decoration: none;
}

.categoryHeading span{
    color: #ffffff;
    font-size: 20px;
    font-weight: 600;
}

.categoryHeading button{
    background: none;
    border:none;
    color: #ffffff;
    font-weight: 700;
}

.modal-content{
    height: 40vh;
    width:50vh;
    border: 2px solid #aeced8;
    background: #ffffff;
    margin: auto;
}

.modalCategoryName{
    height:50px;
}

.modalInputCategory span{
    color:#aeced8;
    font-weight: 600;
    font-size: 22px;
}

.btnAddCategory{
    background: #aeced8;;
    border:none;
    color: #ffffff;
    font-weight: 700;
}

.btnModalClose{
    background: #e69696;
    border:none;
    color: #ffffff;
    font-weight: 700;
}

.singleItemCategory span{
    color:#97bac5;
    font-weight: 700;
    font-size: 22px;
}

.categoryButtons button{
    background: none;
    border:none;
}

.singleItemCategory{
    border-radius: 12px;
    background: #ffffff;
}

.categoryListingDiv{
    height:58vh;
    overflow: auto;
}
.categoryListingDiv::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
  }

.btnAddSubcategory{
    background: #aeced8;;
    border:none;
    color: #ffffff;
    font-weight: 700;
}

.modalSubcategory{
    height: 50vh;
    width:50vh;
    border: 2px solid #aeced8;
    background: #ffffff;
    margin: auto;
}

.modalAddProducts{
    height:auto;
    width:70vh;
    border: 2px solid #aeced8;
    background: #ffffff;
    margin: auto;
}

.modalAddProductsHeading{
    height: 15vh;
    background:#aeced8;
    text-align: center;
    padding: 30px;
}

.modalAddProductsHeading span{
    font-size:25px ;
    color:#ffffff;
    font-weight:700;
}

.modalAddProductsBody span{
    font-size:18px ;
    color:#aeced8;
    font-weight:600;
}

.productDiv{
    height: 80vh;
    width:70vh;
    border: 2px solid #aeced8;
    background: #97bac5;
    margin: auto;
}


.productListingDiv{
    height:68vh;
    overflow: auto;
}

.productListingDiv::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
  }

.productThumbNail{
    height:80px;
    width:70px;
    border:none;
    background: none;
}

.productThumbNail img{
    height:100%;
    width:100%;
}

.deleteProduct
{
    height:60px;
    width:60px;
}

.imageView{
    height:70vh;
    width:35vw;
}

.carouselImageView{
    height:50vh;
    width:27vw;
}

.carouselImageView img{
    height:100%;
    width:100%;
}

.btnImageModal{
    width:27vw;
}


.button-container{
    background-color: #ffffff;
    display: flex;
    justify-content: center;
}

.button-container button{
    color: #ffffff;
    font-weight: 600;
    border:none;
    width:50%;
}

.btnAddProducts{
    background: #aeced8;;
    border:none;
    color: #ffffff;
    font-weight: 700; 
}

.editBtndiv{
    position: relative;
    display: inline-block;
}

.editBtndiv .tooltiptext{
    visibility: hidden;
    width: 50px;
    height: 30px;
    background-color: rgb(97, 119, 91);
    color: #fff;
    font-size: 12px;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    top: 100%;
    left: 50%;
    margin-left: -60px;
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.editBtndiv:hover .tooltiptext{
    visibility: visible;
}

.deleteBtndiv{
    position: relative;
    display: inline-block;
}

.deleteBtndiv .tooltiptext{
    visibility: hidden;
    width: 50px;
    height: 30px;
    background-color: rgb(97, 119, 91);
    color: #fff;
    font-size: 12px;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    top: 100%;
    left: 50%;
    margin-left: -60px;
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.deleteBtndiv:hover .tooltiptext{
    visibility: visible;
}

.forwardBtndiv{
    position: relative;
    display: inline-block;
}

.forwardBtndiv .tooltiptext{
    visibility: hidden;
    width: 81px;
    height: 30px;
    background-color: rgb(97, 119, 91);
    color: #fff;
    font-size: 11px;
    text-align: center;
    border-radius: 6px;
    padding: 2px 0;
    top: 100%;
    left: 50%;
    margin-left: -60px;
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.forwardBtndiv:hover .tooltiptext{
    visibility: visible;
}



