body{
    padding: 0;
    margin: 0;
    background-color: #d2c9ff;
    font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif; 
}

body::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
  }

header{
    position:sticky;
    top:0;
    height:10vh;
    width:100%;
    background-color:#ffffff;
    z-index: 1000;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

header a{
    text-decoration: none;
}

.mainContainer{
    height: auto;
}

.mainContainerSignup{
    height: auto;
    width: 80vw;
    border-radius: 20px;
    background-color: #ffffff;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;;
}

.containerSignup{
    height: 80vh;
    width: 35vw;
    background-color: #777777;
    border-radius: 20px;
    margin: auto;
}

.subContainerSignup{
    height: 65vh;
}

.logoHeading{
    font-size: 22px;
    font-weight: 700;
    color: #ccc2ff;
}

.loginBtnClass button{
    background:none;
    border: none;
    color:#ccc2ff;
    font-size: 18px;
    font-weight: 500;
}

.signupHeading{
    width:100%;
    display: flex;
    justify-content: center;
}

.signupHeading h2{
    color:#ffffff
}

.userInputFields span{
    font-size: 18px;
    font-weight: 600;
    color: #ffffff;
}

.btnSignup{
    background-color: #ffffff;
    border: none;
    width:45%;
    font-size: 18px;
    font-weight: 600;
}

.subContainerLogin{
    height:40vh
}

.containerLogin{
    height: 60vh;
    width: 35vw;
    background-color: #777777;
    border-radius: 20px;
    margin: auto;
}

.mainContainerLogin{
    height: 85vh;
    width: 80vw;
    border-radius: 20px;
    background-color: #ffffff;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;;
}

.btnLogin{
    background-color: #ffffff;
    border: none;
    width:45%;
    font-size: 18px;
    font-weight: 600;
}

.categoryListingHeader{
    height: 8vh;
    background-color: #ffffff;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    display: flex;
    justify-content: space-around;
}

.categoryBtn{
    background:none;
    border:none;
    font-size: 20px;
    font-weight: 700;
    color: #5f5f5f;
    text-transform: uppercase;
}

.homeImage{
    height:30vh;
}

.homeImage img{
    height:100%;
    width:100%;
}

.productListingSubContainer{
    display: flex;
    flex-wrap: wrap;
}

.productListingSubContainer .card{
    width:16vw;
    height:50vh;
}

.productImageDiv{
    height:30vh;
    width:14vw;
}


.productImageDiv img{
    height: 100%;
    width: 100%;
}

.cartBtn{
    border: none;
    border-radius: 5px;
    background-color: #8cbdd1;
    color: #ffffff;
    font-weight: 700;
    height:10vh;
    white-space: nowrap;
}

.buyBtn{
    border: none;
    border-radius: 5px;
    background-color: #bd8dc9;
    color: #ffffff;
    height:10vh;
    font-weight: 700;
}

.productListingContainer{
    border-radius: 12px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.productListingSubContainer .card a{
    color:#494848
}

.subcategoryTooltip{
    position: relative;
    display: inline-block;
}

.subcategoryTooltip .tooltipContainer{
    visibility: hidden;
    min-width:13vw;
    max-height: auto;
    overflow: auto;
    background-color: #ebebeb;
    text-align: center;
    border-radius: 6px;
    padding: 9px 0;
    top: 100%;
    left: 50%;
     margin-left: -6vw;
    /* Position the tooltip */
    position: absolute;
    z-index: 2;
    border: 1px solid #ccc2ff;
}

.tooltipContainer::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
  }

.subcategoryTooltip .tooltipContainer .tooltiptext{
    font-size: 18px;
    font-weight: 600;
    background-color: #bbb4db;
    white-space: nowrap;
    color: #ffffff;
}

.subcategoryTooltip:hover .tooltipContainer{
    visibility: visible;
}

.subcategoryTooltip .tooltipContainer .tooltiptext:hover{
    background-color: #e4e4e4;
    color:#877cb8 ;
}

.headerBtnClass button{
    padding: 0;
    background:none;
    border: none;
    color:#ccc2ff;
    font-size: 18px;
    font-weight: 500;
}

.searchbarDiv .searchInput{
   border:1px solid #b3a7e7;
   border-radius: 12px;
   height: 42px;
   width:40vw;
   margin-right: 1px;
}

.searchbarDiv .searchInput:focus{
    outline: none;
 }

.searchbarDiv .searchBtn{
    background: #ffffff;
    border:1px solid #bbb4db;
    border-radius: 12px;
    height: 42px;
    width:3vw;
 }

 .categorySubcontainer{
    background-color: #ffffff;
    width:100%;
    height: auto;
    overflow: hidden;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
 }

 .subcategorySubcontainer{
    background-color: #ffffff;
    width:100%;
    min-height: 30vw;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
 }


 .categorySubcontainer{
    display: flex;
    flex-wrap: wrap;
    border-radius: 20px;
 }

 .categorySubcontainer .card{
    width:16vw;
    height:50vh;
 }

 .categorySubcontainer .card .card-title{
    width:14vw;
    text-align: center;
 }

 .dropdown-item{
    background-color: #bd8dc9;
    color: #ffffff;
 }

 .dropdown-item:hover{
    background-color: #986da3;
    color: #ffffff;
 }

 .productSubContainer{
    background-color: #ffffff;
    width:100%;
    height:auto;
    border-radius: 16px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    max-height: 75vh;
    display: flex;  
    justify-content: space-between;
 }

 .productSubContainer .imageContainer{
    background-color: #ffffff;
    width:40%;
    height:70vh;
    height:100%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
 }

 .productSubContainer .imageContainer .carousel-item{
    width:100%;
    height:70vh;
 }

 .productSubContainer .imageContainer .carousel-item img{
    width:100%;
    height:100%;
 }
 .productDetails{
    width:55%;
    height:70vh;
 }

 .productDetails .pathOfProduct span{
    color: #b4b1b1;
    font-size: 15px;
 }

 .productDetails .pathOfProduct a{
    text-decoration-color: #b4b1b1;
 }

 .productDesc{
    height:13vh;
    max-width:100%;
    overflow:scroll;
 }

 .productDesc::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
  }

 .productPrice{
    color: #8aac5e;
    height:18vh;
 }

 .productPrice sub{
    font-size: 15px;
    vertical-align:sub;
 }

 .homeImage .carousel-inner .carousel-item{
    height:30vh;
    width:100%;
 }

 .homeImage .carousel{
    height:30vh;
    width:100%;
 }

 .homeImage .carousel-inner .carousel-item img{
    height:100%;
    width:100%;
 }

 .productListingSubContainer  .card .card-title{
    width:14vw;
    text-align: center;
 }

 .productPrice{
    color:#8aac5e
 }

 #productContainerSubcategory .card{
    width:16vw;
    height:50vh;
 }

 
 #productContainerSubcategory  .card .card-title{
    width:14vw;
    text-align: center;
 }

 .productContainerSubcategory{
    max-height: 110vh;
    overflow: hidden;
 }

 .viewmoreBtnDiv{
    height:20vh;
 }

 .viewmoreBtnDiv .viewmoreBtn{
    background-color: #ffffff;
    border: none;
    color: #bd8dc9;
    font-size: 24px;
    font-weight: 600;
 }

 .price{
    color: #8aac5e;
 }

 .cartSubcontainerLeft{
    background-color: #ffffff;
    width:63%;
    height:auto;
    border-radius: 16px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
 }

 .cartSubcontainerRight{
    background-color: #ffffff;
    width:35%;
    height:auto;
    border-radius: 16px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
 }

 .cartHeading h4{
    font-weight: 800;
    color: #4b4a4a;
 }

 .productListingContainerCart{
    width:75%;
    height:67vh;
    overflow:scroll
 }

 .productListingContainerCart::-webkit-scrollbar{
    display: none;
 }

 .cartBtnHeader{
    position:relative;
    color: #b3a7e7;
 }

 .cartBtnHeader .badge {
    position: absolute;
    top: -13px;
    right: -10px;
    padding: 3px 6px;
    border-radius: 50%;
    background-color: #b36b6b;
    color: white;
  }

  .productName h2{
    color: #5c5a5a;
  }

  .productDesc p{
    color: #5f5f5f;
    font-size: 16px;
  }

  .cartQuantity{
    width:35px;
    border:1px solid #dddada;
    border-radius: 5px;
  }

  .cartTooltip{
    position: relative;
    display: inline-block;
  }

  .cartTooltip .tooltiptext{
    visibility: hidden;
    width: 60px;
    height: 25px;
    background-color: rgb(97, 119, 91);
    color: #fff;
    font-size: 12px;
    text-align: center;
    border-radius: 6px;
    padding: 2px 0;
    top: 100%;
    right:50%;
    margin-left: -30px;
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
  }

  .cartTooltip:hover .tooltiptext{
    visibility: visible;
  }

  .profileBtn{
    color: #b3a7e7
  }

  .profileTooltip{
    position: relative;
    display: inline-block;
  }

  .profileTooltip .tooltiptext{
    visibility: hidden;
    width: 60px;
    height: 25px;
    background-color: rgb(97, 119, 91);
    color: #fff;
    font-size: 12px;
    text-align: center;
    border-radius: 6px;
    padding: 2px 0;
    top: 100%;
    right:50%;
    margin-left: -30px;
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
  }

  .profileTooltip:hover .tooltiptext{
    visibility: visible;
  }

  .card-body .productPrice {
    height: 5vh;
  }

.categorySubcontainer .card a{
    color: #5f5f5f;
}

#productContainerSubcategory .card a{
    color: #5f5f5f;
}

.mainContainerProfile{
    height:auto;
}

.mainContainerProfile .subcontainerProfileTop{
    width:50vw;
    height:20vh;
    margin: auto;
    background-color: #ffffff;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.mainContainerProfile .subcontainerProfileBottom{
    width:50vw;
    height:66vh;
    margin: auto;
    background-color: #ffffff;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.mainContainerProfile .subcontainerProfileTop .profileImage{
    width: 10vw;
    height:16vh;

}

.subcontainerProfileTop .profileImage img{
    width: 100%;
    height:100%;
}

.subcontainerProfileTop .profileName{
    color:#5c5a5a;
    height:16vh;
}


.subcontainerProfileTop .profileName span{
    color:#a3a1a1
}

.subcontainerProfileBottom .addressContainer{
    height:45vh;
    overflow: scroll;
}

.subcontainerProfileBottom .addressContainer::-webkit-scrollbar{
    display: none;
}

.addressBtn .addAddressBtn{
    background:none;
    background-color: #970747;
    color: #ffffff;
    font-weight: 700;
    border: none;
}

.addressBtn .orderBtn{
    background:none;
    background-color: #ff6637;
    color: #ffffff;
    font-weight: 700;
    border: none;
}

.addressContainer .singleAddress{
    height: 20vh;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.addressModalContent div span{
    color: #2a886c;
    font-weight: 700;
}

.addressModalContent{
    height: auto;
}

.modalAddAddress .modal-header{
    background-color: #970747;
    color: #ffffff;
}

.modalAddAddress .addressModalContent{
    background-color: #ffffff;
}

.modalAddAddress .addressModalContent .subDiv{
    background-color: #F2F0EA;
    border-radius: 12px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.removeAddressBtn{
    background-color: #ee7373;
    color: #ffffff;
    font-weight: 700;
    border:none;
    border-radius: 20%;
}

.editProfileBtn{
    background-color: #48a388;
    color: #ffffff;
    font-weight: 600;
    border: none;
    border-radius: 20px;
}

.modalEditProfile .modal-header {
    background-color: #2a886c;
    color: #ffffff;
}

.subcontainerOrder{
    background-color: #ffffff;
    width: 70%;
    height:auto;
    margin: auto;
}

.subcontainerOrder .innerSubcontainerOrder{
    height:72vh;
    overflow: scroll;
}

.subcontainerOrder .innerSubcontainerOrder::-webkit-scrollbar{
    display:none;
}

.subcontainerOrder .container1 .container1Heading{
    background-color: #506bb3;
    height:10vh;
    border-radius: 10px;
}

.subcontainerOrder .container1 .container1Heading h4{
    color: #ebebeb;
}

.subcontainerOrder .container1 {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background-color: #e2e4ff;
    border-radius: 8px;
}

.subcontainerOrder .container1 .container1Content .btnPart .changeAddressBtn{
    background-color: transparent;
    color: #5454fc;
    font-weight: 700;
    border: none;
}

.subcontainerOrder .container2 .container2Heading{
    background-color: #506bb3;
    height:10vh;
    border-radius: 10px;
}

.subcontainerOrder .container2 .container2Heading h4{
    color: #ebebeb;
}

.subcontainerOrder .container2 {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background-color: #e2e4ff;
    border-radius: 8px;
}

.subcontainerOrder .container2 .container2Content .productImage{
    height: 70px;
    width:70px;
}

.subcontainerOrder .container2 .container2Content .productImage img{
    height: 100%;
    width:100%;
}

.subcontainerOrder .container2 .container2Content .productNameDesc{
  width:30vw;
  height: 15vh;
}

.subcontainerOrder .container2 .container2Content .productNameDesc .productName{
    width:28vw;
    height:30%;
}

.subcontainerOrder .container2 .container2Content .productNameDesc .productDesc{
    width:28vw;
    height:70%;
}

.subcontainerOrder .container2 .container2Content .productPrice{
    width:10vw;
    height:15vh;
  }

  .selectAddressModal{
    max-height:45vh;
    overflow: scroll;
  }

.selectAddressModal::-webkit-scrollbar{
    display: none;
}

.modalChangeAddress .modal-header{
    background-color: #8cbdd1;
}

.modalChangeAddress .selectAddressModal{
    background-color: #aebabe;
}

.modalChangeAddress .selectAddressModal .modalSingleAddress{
    background-color: #f6fdff;
}

.modalChangeAddress .selectAddressModal .modalSingleAddress .selectedAddress{
    height:20px;
    width: 20px;
}

.subcontainerOrder .paymentBtnContainer{
    height:15vh;
    background-color: #ffffff;
    position: sticky;
}

.subcontainerOrder .paymentBtnContainer span{
   font-size: 20px;
   color:#970747;
   font-weight: 700;
}

.subcontainerOrder .paymentBtnContainer button{
    background-color: #9b9b9b;
    color: #ffffff;
    width:60%;
    border: none;
    font-weight:800;
 }

 .orderQuantity{
    width: 4vw;
 }

 .mainContainerOrder .subcontainerOrder{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
 }

 .btnPart .addAddressBtn{
    background-color: transparent;
    color: #922653;
    font-weight: 700;
    border: none;
 }

 #summaryContainer span{
    font-size: 20px;
    font-weight: 700;
    color: #3b29a3;
 }

 .modalCreditCard .modal-header {
    background-color: #30b5d6;
    height:6vh;
    color:#ffffff;
    font-size: 13px;
 }
 .modalCreditCard .modalCardBody .cardImage{
    height: 40px;
    width: 50px;
}

.modalCreditCard .modalCardBody .cardImage img{
    height: 100%;
    width: 100%;
}

.modalCreditCard .modalCardBody .checkImage{
    height: 25px;
    width: 25px;
}

.modalCreditCard .modalCardBody .checkImage img{
    height: 100%;
    width: 100%;
}

.modalCardBody .subHeading{
    height:7vh;
}

.modalCardBody{
    padding: 0;
}

.cardDetailsConatainer .cardNumberContainer span{
    color: #299ebb;
    font-size: 18px;
}

.cardDetailsConatainer .cardNumberContainer sub{
    color: #299ebb;
    font-size: 12px;
}

.cardDetailsConatainer .cardNumberContainer .cardNumberInput{
    border: 1px solid #afadad;
    border-radius: 6px;
    width:30px;
}

.cardDetailsConatainer .cardNumberContainer .cardNumberInput:hover{
    border: 1px solid #114210;
    border-radius: 6px;
}

.cardDateContainer input{
    width: 70px;
    border: 1px solid #afadad;
    border-radius: 6px;
}

.cardDateContainer span{
    color: #299ebb;
}

.cardCvvContainer .cardCvvInput{
    width:6vw;
    height:35px;
    border: 1px solid #afadad;
    border-radius: 6px;
}

.cardCvvContainer span{
    color: #299ebb;
    font-weight: 600;
}

.cardCvvContainer p{
    color: #299ebb;
    font-size: 11px;
}

.cardDetailsConatainer .cardNameContainer span{
    color: #299ebb;
    font-size: 18px;
}

.cardDetailsConatainer .cardNameContainer .cardNameInput{
    border: 1px solid #afadad;
    border-radius: 6px;
    width:30px;
}

.modalCardSubmitBtn{
    width: 40%;
    background-color: #fd8a1e;
    color: #ffffff;
    font-weight: 700;
    border: none;
    border-radius: 12px;
}

.modalCardCloseBtn{
    width: 40%;
    background-color: #ff2727;
    color: #ffffff;
    font-weight: 700;
    border: none;
    border-radius: 12px;
}

#verifyCardBtn {
    border:1px solid #40cc3d;
    background-color: #ffffff;
    border-radius: 12px;
}

#verifyCardBtn:focus {
    border:1px solid #40cc3d;
}

#verifyCardBtn span{
    color: #40cc3d;
}

.headContainerHistory{
    height:8vh;
    background-color: #464444;
    border-radius: 12px;
}

.headContainerHistory{
    width:80%;
    font-size: 20px;
    font-weight: 700;
    color: #ffffff;
    margin: auto;
}

.subContainerHistory{
    height:auto;
    background-color: #ffffff;
    width:80%;
    margin:auto;
    border-radius: 12px;
}

.singleOrderHistory{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 12px;
    background-color: #d2eaff;
}

.singleOrderHistory .productDetailsContainer{
    width: 50%;
    overflow:hidden;
    height:15vh
}

.singleOrderHistory .productDetailsContainer .productHeading{
    font-size: 20px;
    font-weight: 700;
}
.singleOrderHistory .productDetailsContainer .productDesc{
   width:5vw;
}

.singleOrderHistory .imageDiv{
    width: 10vw;
    height: 15vh;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 18px ;
}

.singleOrderHistory .imageDiv img{
    width: 100%;
    height: 100%;
}

.singleOrderHistory .singleOrderHeading{
    height: 6vh;
    background-color: #bd82d3;
}

.singleOrderHistory .singleOrderHeading .heading{
    font-size: 16px;
    font-weight: 700;
    color: #ffffff;
}

.singleOrderHistory .singleOrderHeading span{
    color: #ffffff;
}

.singleOrderFooter{
    background-color: #7cb9c5;
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
    height:8vh;
}

.quantityContainer .qty{
    font-size: 18px;
    font-weight: 700;
    color: #a7bea6;
}

.searchbarDivOrder{
    height: 5vh;
    width: 60%;
}

.searchbarDivOrder input{
    height: 5vh;
    width: 100%;
    border-radius: 12px;
    font-size: 15px;
}

.headingOrderHistory{
    width:40%;
}

.headingOrderHistory span{
    white-space: nowrap;
}

.singleOrderHeading button{
    border: none;
    background-color: #f3f3f3;
    border-radius: 5px;
}

.pdfBtnOrder {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
  }
  
  /* Tooltip text */
  .pdfBtnOrder .tooltiptext {
    visibility: hidden;
    width: 60px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 2px 0;
    border-radius: 6px;
    font-size:14px !important;
    top: -5px;
    right: 105%;
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
  }
  
  /* Show the tooltip text when you mouse over the tooltip container */
  .pdfBtnOrder:hover .tooltiptext {
    visibility: visible;
  }

  .profileBtn{
    position: relative;
  }

.profileBtn .badge {
    position: absolute;
    top: -4px;
    right: -5px;
    padding: 4px 4px;
    border-radius: 50%;
    background-color: #118d3a;
    color: white;
  }

  .paymentBtnContainer .cancelOrderBtn{
    background-color: #c91212;
    color:#ffffff;
    font-weight: 700;
  }

  .orderPlacedMainDiv{
    width:70%;
    margin: auto;
    height: 80vh;
    background-color: #ffffff;
  }

  .confirmImageDiv{
    width:40vw;
    height:50vh;
    margin: auto;
  }

  .confirmImageDiv img{
    height: 100%;
    width: 100%;
  }

  .orderConfrimMessage{
    width:40vw;
    height:auto;
    margin: auto;
    text-align: center;
  }

  .orderConfrimMessage span{
    color: #317a30;
    font-weight: 700;
    font-size: 20px;
  }

  .orderConfirmBtnDiv{
    width: 40vw;
    height: auto;
    margin: auto;
  }

  .orderConfirmBtnDiv .homeBtn{
    width: 49%;
    color:#ffffff;
    font-weight: 700;
    border: none;
    background-color: #970747;
  }

  .orderConfirmBtnDiv .orderHistoryBtn{
    width: 49%;
    color:#ffffff;
    font-weight: 700;
    border: none;
    background-color: #286b17;
  }

 
